@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto; /* Allow scrolling */
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, #007bff, #0056b3);
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    overflow: auto; /* Allow scrolling */
    z-index: 1; /* Ensure it is above the canvas */
}

.home-title {
    margin-bottom: 30px;
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    z-index: 1;
}

.links-container {
    display: flex;
    gap: 25px;
    z-index: 1;
}

.home-link {
    background-color: #ffffff;
    color: #007bff;
    padding: 12px 25px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transition: all 0.3s ease-in-out;
}

.home-link:hover, .home-link:focus {
    background-color: #0056b3;
    color: #fff;
    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}
