@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #007bff;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.navbar-items {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.navbar-item {
    margin: 0 15px;
}

.navbar-item-inner {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    transition: color 0.3s ease;
}

.navbar-item-inner-icon-wrapper {
    margin-right: 8px;
    font-size: 24px;
}

.link-text {
    font-size: 18px;
    font-weight: bold;
}

.navbar-item-inner:hover .link-text, .navbar-item-inner:focus .link-text {
    color: #ffd700; /* Color on hover and focus */
}

.navbar-item-inner:hover .navbar-item-inner-icon-wrapper, .navbar-item-inner:focus .navbar-item-inner-icon-wrapper {
    color: #ffd700; /* Icon color on hover and focus */
}
